  <footer class="footer">
    <div class="container">
      <h5>Tom J. Watson</h5>

      <ul class="links-list">
        <li><a href="/">Home</a></li>
        <li><a href="/#work">Work</a></li>
        <li><a href="/#projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>

      <ul class="contact-list">
        <li><a href="mailto:tom@tomjwatson.com">tom@tomjwatson.com</a></li>
        <li><a href="https://www.github.com/tom-james-watson">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/tomjameswatson">LinkedIn</a></li>
        <li><a rel="me" href="https://mastodon.technology/@tomjwatson">Mastodon</a></li>
      </ul>
    </div>
  </footer>

  <script src="app.js"></script>
  </body>
  </html>
