:root {
  font-size: 62.5%;
}

body{
  color: #232323;
  font-size: 1.45rem;
  font-family: Rubik,-apple-system,BlinkMacSystemFont,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: calc(100vh - 32rem);
}

.container {
  max-width: 62rem;
}

ul {
  list-style: disc inside;
}

img {
  max-width: 100%;
}

a {
  color: #232323;
}

*, :before, :after {
  box-sizing: border-box;
}

pre {
  background: #F1F1F1;
  border-radius: 4px;
}

code {
  background: none;
  border: none;
  border-radius: 0;
}
